<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Onayı</title>
</head>
<body>
<h2>Admin Mail Onaylama</h2>

<form id="emailForm" th:action="@{/api/realty-management/admin/v1/admins-verification}" th:object="${emailVerification}" th:method="post">
    <label for="email">E-posta Adresinizi Giriniz:</label>
    <input type="email" id="email" name="email" th:field="*{email}" required />
    <button type="submit">Gönder</button>
</form>


<script th:src="@{/assets/js/email.js}"></script>
</body>
</html>