<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Register Successed</title>
</head>
<body>

<h1>Kayıt Başarılı</h1>

<span th:text="${nameSurname}" th:style="'font-size: 18px; font-weight: bold; color: black'"></span><br>
<span>Oluşturulan token: </span>
<span th:text="${token}" id="token"></span><br>
<h1>Lütfen Tokeni Kaybetme!</h1>

<a th:href="@{/admin/v1/login}" class="btn btn-primary">
    Login Page Continue
</a>

</body>
</html>