<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>realtyhub REALTOR Home Page</title>
</head>
<body>

<h2>realtyhub REALTOR Home Page</h2>

<hr>

<p>
    Hey Have you edited the adverts?
    <br>
    Welcome To REALTOR Page
</p>

<hr>

<a th:href="@{/advert/v1/adverts-delete}">Come To Delete Advert Page</a>

<hr>

<a th:href="@{/advert/v1/advert-list}">Come To Advert List Page</a>


<hr>

<a th:href="@{/advert/v1/adverts}">Come To Add Advert Page</a>

<hr>

<a th:href="@{/admin/v1/login-success}">Back To Home Page</a>
</body>
</html>